/* 基本のリセット（sanitize.cssを補完） */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* header全体のスタイル */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px ;
    background-color: #fff;
}

/* ロゴ */
.logo {
    font-size: 28px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #efa9fb;
    letter-spacing: 3px;
}

/* ボタン全体をまとめる */
.header__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* 設定・ログアウト共通のアイコン */
.setting-icon,
.logout-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
    opacity: 0.8;
}

/* ボタン共通 */
.setting__button,
.logout__button {
    background-color: #F7F7F7;
    border: none;
    color: #605f5f;
    padding: 5px 10px;
    font-size: 12px;
    border: solid 1px #CDCDCD;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* ホバー時の効果 */
.setting__button:hover,
.logout__button:hover {
    background-color: #605f5f;
}

.line {
    height: 1px;
    background-color: #CDCDCD;
    /* グレー */
    width: 100%;
    /* 上に余白 */
}

/* main全体 */
.main {
    padding: 10px;
}